@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #262b3f;
  --secondary: #1e2337;
  --tertiary: #1e2538;
  --dark: #060c24;
  --scrollbar: rgba(20, 26, 50, 255);
  --content-primary: #fff;
  --content-secondary: #5e6a80;
  --accent: #2f8a77;
}
*::-webkit-scrollbar {
  width: 0.33rem;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--dark);
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

* {
  transition: all .3s ease-in-out;
}
